a.link {
    transition: color $transition-time;
    font-family: $body-font-stack;

    &:hover {
        color: $key-color;
    }
}

a[class^="button"], button {
    border: $button-border-style-inactive;
    font-family: $body-font-stack;
    padding: $button-padding;
    border-radius: $ui-border-radius;
    transition: all $transition-time;
    display: block;
    background: none;
    text-align: center;
    margin: auto;
    width: 100%;

    &:active {
        background-color: $key-color !important;
        border: $button-border-style-active;
        color: $bg-color;
    }

    &.button__filled {
        background-color: $link-color;
        color: $bg-color;
    }
}

.ui-dialog-buttonset, .ctl__buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-gap: 1em;

    li {
        width: auto;
    }
}

.ctl__buttons + .ctl__buttons {
    margin-top: 1rem;
}

.ctl__mode--container {
    li, a {
        width: 100%;
    }
}

input[type="range"], .ui-slider {
    margin-top: 0.7rem;
    margin-bottom: 1.5rem;
    
    background: $text-color;
    outline: none;
    height: 1px !important;
    width: 100%;
    transition: $transition-time;

    & .ui-slider-handle {
        top: -7px !important;

        border: $ui-border-style;
        background-color: $bg-color;
        border-radius: 999px;
        position: relative;
    }
}