.ui__loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 50px;
  }
  .ui__loading div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $text-color;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .ui__loading div:nth-child(1) {
    left: 8px;
    animation: ui__loading1 0.6s infinite;
  }
  .ui__loading div:nth-child(2) {
    left: 8px;
    animation: ui__loading2 0.6s infinite;
  }
  .ui__loading div:nth-child(3) {
    left: 32px;
    animation: ui__loading2 0.6s infinite;
  }
  .ui__loading div:nth-child(4) {
    left: 56px;
    animation: ui__loading3 0.6s infinite;
  }
  @keyframes ui__loading1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes ui__loading3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes ui__loading2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  