// Dialogs
// div[id^="ui__"] {
.ui-dialog {
    // position: absolute;
    // width: 80%;

    // top: 40%;
    // margin: auto 10% auto 8%;
    // padding: 0 1em 1em;
    border: $ui-border-style;
    background-color: $bg-color;

    text-align: $ui-modal-text-alignment;
}

.ui-dialog-titlebar {
    margin-top: 1rem;
    font-weight: bold;
}

.ui-dialog-buttonpane {
    margin: 0 1rem 1rem;
}

.ui-dialog-titlebar-close {
    display: none;
}