// Dialogs
div[id^="ui__"] {
    // position: absolute;
    // width: 80%;

    // top: 40%;
    // margin: auto 10% auto 8%;
    // padding: 0 1em 1em;
    border: $ui-border-style;
    background-color: $bg-color;

    .no-close .ui-dialog-titlebar-close {
        display: none;
    }
}

.ui__modal--centered {
    text-align: center;
}