// TYPOGRAPHY
// Headers
h1, h2 {
    font-family: $header-font-stack;
}

h1 {
    color: $bg-text-color;
    font-size: 14em;
}

h2 {
    color: $link-color;
    font-size: 3em;
    line-height: 0.8em;
}

// Body
// Shock animation
@keyframes shockFlash {
    0%   {color: $text-color;}
    10%  {color: $key-color;}
    100% {color: $text-color;}
}

p, span {
    font-family: $body-font-stack;
    color: $text-color;
    transition: color $transition-time;
}

a {
    transition: color $transition-time;

    &:hover {
        cursor: pointer;
    }

    &.ctl__mode--active {
        color: $key-color;
    }
}