// Headers
h1, h2 {
    font-family: $header-font-stack;
}

h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
    color: $h1-color;
}

h2 {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    color: $h2-color;
}

// Body
// Shock animation
@keyframes shockFlash {
    0%   {color: $text-color;}
    10%  {color: $key-color;}
    100% {color: $text-color;}
}

p, span {
    font-family: $body-font-stack;
    color: $text-color;
    transition: color $transition-time;
}

a {
    transition: color $transition-time;

    &:hover {
        cursor: pointer;
    }

    &.ctl__mode--active {
        color: $key-color;
    }
}