// Theme variables
//   Colors
$key-color:     hsl(1, 100%, 45%);
$bg-color:      hsl(22, 20%, 92%);
$link-color:    hsl(3, 52%, 23%);
$text-color:    hsl(0, 6%, 40%);

//   Typography
$header-font-stack: mencken-std-head-narrow, serif;
$body-font-stack:   neuzeit-grotesk, sans-serif;

$body-font-size:    1rem;

$h1-font-size:      14em;
$h1-line-height:    normal;
$h1-color:          darken($bg-color, 5%);

$h2-font-size:      3em;
$h2-line-height:    0.8em;
$h2-color:          $link-color;

//   Style
$ui-border-style:   1px solid $text-color;
$ui-border-radius:  2px;

$ui-modal-text-alignment: center;

//   Animation
$transition-time:   0.1s;

//   Buttons
$button-border-style-inactive:  1px solid $link-color;
$button-border-style-active:    1px solid $key-color;
$button-padding:                6px 20px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    background-color: $bg-color;
    color: $text-color;
    font-family: sans-serif;
    overflow: hidden;
    user-select: none;
}

@import 'typography';
@import 'header';
@import 'footer';
@import 'modal';
@import 'controls';
@import 'loading-spinner';

@import 'jqueryui/jquery-ui';
@import 'jqueryui/jquery-ui-structure';

ul, menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

menu {
    margin: 8em 0.5em;
}

#stat__bigMode--container {
    position: fixed;
    overflow: hidden;
    z-index: -1;
    top: -4em;
    left: -1em;
}

.ui__hidden {
    display: none;
}

.ui__hidden--show {
    display: block !important;
}
