<!-- Modal -->
<div id="ui__modal">
    <p><span id="ui__modal--body"></span></p>
</div>

<!-- Spinner -->
<div id="ui__spinner">
    <div class="ui__loading"><div></div><div></div><div></div><div></div></div>
    <p><span id="ui__spinner--body"></span></p>
</div>

<script type="module">
    $(document).ready(function() {
    // Initialize dialogs
        $('#ui__modal').dialog({    // Initialize modal
            autoOpen: false,
            modal: true,
            resizable: false,
            dialogClass: "no-close",
        });

        $('#ui__spinner').dialog({  // Initialize spinner
            autoOpen: false,
            modal: true,
            resizable: false,
            closeOnEscape: false,
        });

        // construct and display modal for non-actionable notifications emitted directly from backend
        // Notification messages require
        socket.on('dialog', function(msg) {
            // Construct title if one exists
            if (msg.title != "") {
                $('#ui__modal').dialog("option", "title", msg.title)
            } else {
                $('#ui__modal').dialog("option", "title", null)
            }

            // Construct body
            $('#ui__modal').text(msg.body)

            // Construct confirmation button to close the dialog
            $('#ui__modal').dialog("option", "buttons", [
                {
                    text: "Ok",
                    click: function() {
                        $( this ).dialog( 'close' )
                    }
                }
            ])

            $('#ui__modal').dialog( 'open' )
        })
    })
</script>