<!-- Modal: Connecting spinner -->
<div id="ui__connecting" class="ui__modal--centered">
    <div class="ui__loading"><div></div><div></div><div></div><div></div></div>
    <p>Connecting to collar...</p>
</div>

<!-- Modal: Hardware power off confirmation -->
<div id="ui__reboot--confirmation-dialog" class="ui__hidden ui__modal--centered">
    <p>Are you sure you want to restart?</p>
    <ul class="ctl__buttons">
        <li>
            <a id="ctl__reboot--yes" class="button">Yes</a>
        </li>
        <li>
            <a id="ctl__reboot--no" class="button__filled">No</a>
        </li>
    </ul>
</div>

<!-- Modal: Reboot spinner -->
<div id="ui__reboot" class="ui__modal--centered ui__hidden">
    <div class="ui__loading"><div></div><div></div><div></div><div></div></div>
    <p>Restarting...</p>
</div>

<!-- Modal: Updates - You're on the latest version -->
<div id="ui__check-updates--latest-version" class="ui__hidden ui__modal--centered">
    <p>Behavior Bracket System Software is up-to-date.</p>
    <ul class="ctl__buttons">
        <li>
            <a id="ctl__reboot--no" class="button__filled">OK</a>
        </li>
    </ul>
</div>

<!-- Modal: Updates - New version available -->
<div id="ui__check-updates--new-version" class="ui__hidden ui__modal--centered">
    <p>Behavior Bracket System Software version <span class="stat__check-updates--version"></span> is available!</p>
    <p>Would you like to update to the latest version?</p>

    <ul class="ctl__buttons">
        <li>
            <a id="ctl__update-software--yes" class="button">No</a>
        </li>
        <li>
            <a id="ctl__update-software--no" class="button__filled">No</a>
        </li>
    </ul>
</div>

<!-- Modal: Low battery warning -->
<div id="ui__batt-warning" class="ui__hidden ui__modal--centered">
    <p>The collar's battery is low. Charge the battery soon or the collar will turn off.</p>
    <ul class="ctl__buttons">
        <li>
            <a id="ctl__battWarning--ok" class="button">Ok</a>
        </li>
    </ul>
</div>

<!-- Programatically customizable template modal -->
<div id="ui__modal" class="ui__modal--centered">
    <p><span id="ui__modal--body"></span></p>
</div>

<!-- Modal: Spinner with a customizable message -->
<!-- <div id="ui__spinner" class="ui__modal--centered">
    <div class="ui__loading"><div></div><div></div><div></div><div></div></div>
    <p class="ui__spinner--message"></p>
</div> -->