<!doctype HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Collar Remote">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/ncu4jxx.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<!-- 
    Namespaces
    stat__  Output
    ctl__   Input
    ui__    Clientside
-->

<body>
    <header>
        <!-- Power Off button -->
        <div id="ctl__upperLeft">
            <a href="/settings" class="link">Settings</a>
        </div>

        <!-- Battery widget -->
        {% include '_battery-widget.html' %}
    </header>

    <!-- Mode switch -->
    <menu>
        <div id="stat__bigMode--container">
            <h1 id="stat__bigMode">Connecting</h1>
        </div>
        <ul id="ctl__mode--container">
            <li>
                <h2><a id="ctl__mode--disable">Disable</a></h2>
            </li>
            <li>
                <h2><a id="ctl__mode--pet">Pet</a></h2>
            </li>
            <li>
                <h2><a id="ctl__mode--statue">Statue</a></h2>
            </li>
            <li>
                <h2><a id="ctl__mode--sleepDep">Sleep Deprivation</a></h2>
            </li>
            <li>
                <h2><a id="ctl__mode--random">Random</a></h2>
            </li>
            <li>
                <h2><a id="ctl__mode--posture">Posture</a></h2>
            </li>
        </ul>
    </menu>

    <!-- Punishment controls -->
    <footer>
        <!-- Intensity slider -->
        <div id="ctl__intensity">
            <span>Punishment Intensity</span>
            <span id="stat__intensity--safetyMode" class="ui__hidden">Safety Mode enabled</span>
            <!-- <input type="range" min="0" max="100" value="50" id="ctl__intensity--input"> -->
            <div id="ctl__intensity--input"></div>

            <ul class="ctl__buttons">
                <!-- Warning button -->
                <li>
                    <a id="ctl__manual--warn" class="button">Warn</a>
                </li>

                <!-- Punish button -->
                <li>
                    <a id="ctl__manual--punish" class="button">Punish</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- Modals -->
    {% include '_modals.html' %}
</body>

<!-- Import jQuery, SocketIO -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jqueryui/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>

<script type="module">
    var hasShownBattWarning = false;    // Keep track of whether we've shown the battery warning modal
    var hasShownDockLockModal = false; // Keep track of whether we've shown the dock lock enable modal

    var dockLock = false;   // Keep track of dockLock clientside

    $(document).ready(function() {
        // Initialize dialogs
        $('#ui__modal').dialog({    // Initialize modal
            autoOpen: false,
            modal: true,
            resizable: false,
            dialogClass: "no-close",
        });

        $('#ui__spinner').dialog({  // Initialize spinner
            autoOpen: false,
            modal: true,
            resizable: false,
            closeOnEscape: false,
        });

        // Simple Modal: Construct and display modal for non-actionable notifications emitted directly from backend
        socket.on('dialog', function(msg) {
            // Construct title if one exists
            if (msg.title != "") {
                $('#ui__modal').dialog("option", "title", msg.title)
            } else {
                $('#ui__modal').dialog("option", "title", null)
            }

            // Construct body
            $('#ui__modal').text(msg.body)

            // Construct confirmation button to close the dialog
            $('#ui__modal').dialog("option", "buttons", [
                {
                    text: "Ok",
                    click: function() {
                        $( this ).dialog( 'close' )
                    }
                }
            ])

            $('#ui__modal').dialog( 'open' )
        })

        // Create connecting to collar spinner
        $('#ui__spinner--body').text("Connecting to Bracket...");
        $('#ui__spinner').dialog( "open" );

        // Connect to socket server
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/control');
        console.log("Connected to Socket");
        $('#ui__spinner').dialog( "close" );    // Destroy connecting to collar spinner

        // Battery level & Charging state
        function showdockLockModal() {  // Construct and show Dock Lock modal
            $('#ui__modal').dialog("option", "title", "Enable Dock Lock?");
            $('#ui__modal--body').text('Dock Lock punishes the wearer for disconnecting the charger before the Bracket is fully charged.');
            $('#ui__modal').dialog("option", "buttons", [
                {
                    text: "Disable",
                    click: function() {
                        console.log("Dock Lock disabled");
                        socket.emit('dockLock', {'enabled': false});
                        $( this ).dialog( "close" );
                    }
                },
                {
                    text: "Enable",
                    click: function() {
                        console.log("Dock Lock enabled");
                        socket.emit('dockLock', {'enabled': true});
                        $( this ).dialog( "close" );
                    },
                },
            ]);
            $('#ui__modal').dialog( "open" );
        }

        socket.on('battery', function(msg) {    // Update battery status indicator
            // Update percent string
            var battPercentage = parseInt(msg.percent); // Get percentage as string
            $('#stat__battery--percent').html(battPercentage.toString());

            // Update battery fill width
            var pxWidth = 21 * (msg.percent / 100);
            $('#stat__battery--level').css('width',  pxWidth.toString() + 'px');

            // Set battery fill color
            if (msg.percent <= 20) {
                $('#stat__battery--level').addClass('lowBatt');
                // If this is the first time the battery has dropped below 20%, show a warning
                // TODO: This needs better logic, the dock lock window trigger does too
                if (hasShownBattWarning == false) {

                    // Construct and show battery warning
                    $('#ui__modal').dialog("option", "title", "Low Battery");
                    $('#ui__modal--body').text("The Bracket's battery is low. Charge the battery soon or the Bracket will turn off");
                    $('#ui__modal').dialog("option", "buttons", [
                        {
                            text: "Ok",
                            click: function() {
                                $( this ).dialog( "close" );
                            }
                        },
                    ]);

                    hasShownBattWarning = true;
                }
            } else {
                $('#stat__battery--level').removeClass('lowBatt');
            }

            // Charging status-related checks
            if (msg.charging == true) {
                $('#stat__battery--dock-lock').removeClass('shock');                // If the device is charging, don't light up the battery icon

                // Check Dock Lock status on charging status update
                if (msg.dockLock == true) {                                         // DL on and device is charging
                    dockLock = true;                                                //   Keep track of DL status clientside
                    $('#stat__battery--dock-lock').addClass('ui__hidden--show');    //   Show DL icon
                    $('#stat__battery--charging').removeClass('ui__hidden--show');  //   Hide charging bolt icon
                } else {                                                            // DL off
                    dockLock = false;                                               //   Keep track of DL status clientside
                    $('#stat__battery--charging').addClass('ui__hidden--show');     //   Show charging bolt icon
                    $('#stat__battery--dock-lock').removeClass('ui__hidden--show'); //   Hide DL icon
                }

                // Ask user if Dock Lock should be enabled
                if (hasShownDockLockModal == false) {                               // If we haven't shown the DL modal before
                    showdockLockModal();                                            // Construct and show DL modal
                    hasShownDockLockModal = true;                                   // Remember that we have shown the modal
                }
            } else {    // msg.charging == false
                $('#stat__battery--charging').removeClass('ui__hidden--show');      // Hide charging bolt icon

                // Check Dock Lock status on charging status update
                if (dockLock == true) {                                             // DL on and device not charging
                    $('#stat__battery--dock-lock').addClass('shock');               //   Light up the battery icon
                } else {                                                            // DL off
                    $('#stat__battery--dock-lock').removeClass('ui__hidden--show'); //   Hide DL icon
                }
            }
            
            // Reset dock lock prompt if battery goes above 95%
            if (msg.percent >= 95) {
                hasShownDockLockModal = false;
            }
        })

        //   Compliance
        socket.on('compliance', function(msg) {
            // If wearer is being punished, flash the intensity controls
            if (msg.requestPunishment != false) {
                $("#ctl__intensity").addClass('shock');
            } else {
                $("#ctl__intensity").removeClass('shock');
            }
        })

        //   Reboot
        // Construct and show reboot confirmation dialog
        socket.on('rebootConfirmation', function(msg) {
            $('#ui__modal').dialog("option", "title", "Reboot?");
            $('#ui__modal--body').text("Are you sure you want to reboot?");
            $('#ui__modal').dialog("option", "buttons", [
                {
                    text: "Yes",
                    click: function() {
                        console.log("Rebooting...");

                        $('#ui__spinner--body').text("Rebooting...")
                        $('#ui__spinner').dialog( "open" );

                        socket.emit('reboot', {'foo': bar});
                        $( this ).dialog( "close" );
                    },
                },
                {
                    text: "No",
                    click: function() {
                        $( this ).dialog( "close" );
                    }
                },
            ]);
            $('#ui__modal').dialog( "open" );
        })

        // Request inital state
        socket.emit('infoUpdate', {'foo': 'bar'});
        socket.on('infoUpdate', function(msg) {
            switchMode(msg.mode);                                       // Get current mode
            $('#ctl__intensity--input').slider("value", msg.intensity); // Set intensity slider to serverside intensity value
            safetyModeNotificationCheck();                              //   Check if we're in safety mode (intensity <= 3) and show notification if so
            if (msg.dockLock) {dockLock = true;}                        // Keep track of Dock Lock status clientside

            $('#ui__spinner').dialog( "close" );                // Finished connecting, hide loading spinner
        })

        // Safety mode notification check
        function safetyModeNotificationCheck() {
            // Show vibrate mode notification if value <= 3
            var intensity = $("#ctl__intensity--input").slider("value");            // Get intensity value
            if (intensity <= 3) {
                $('#stat__intensity--safetyMode').addClass('ui__hidden--show');     // Show warning
            } else {
                $('#stat__intensity--safetyMode').removeClass('ui__hidden--show');  // Hide warning
            }
        }
        // Initialize intensity slider
        $("#ctl__intensity--input").slider({
            range: false,
            min: 0,
            max: 100,
            value: 50,
            
            slide: function(event, ui) {
                // console.log(ui.value)
                socket.emit('intensity', {'intensity': ui.value})

                safetyModeNotificationCheck();
            },
        })

        // Mode buttons
        function switchMode(mode) {
            console.log("Changed mode to " + mode)
            socket.emit('mode', {'mode': mode});
            
            $('.ctl__mode--active').removeClass('ctl__mode--active')    // Disable currently active button
            // Enable new button
            switch(String(mode)) {
                case 'off':
                    $('#ctl__mode--disable').addClass('ctl__mode--active');
                    $('#stat__bigMode').html("Disabled");
                    break;
                case 'pet':
                    $('#ctl__mode--pet').addClass('ctl__mode--active');
                    $('#stat__bigMode').html("Pet Mode");
                    break;
                case 'freeze':
                    $('#ctl__mode--statue').addClass('ctl__mode--active');
                    $('#stat__bigMode').html("Statue Mode");
                    break;
                case 'sleepDep':
                    $('#ctl__mode--sleepDep').addClass('ctl__mode--active');
                    $('#stat__bigMode').html("Sleep Deprivation");
                    break;
                case 'random':
                    $('#ctl__mode--random').addClass('ctl__mode--active');
                    $('#stat__bigMode').html("Random Mode");
                    break;
                case 'posture':
                    $('#ctl__mode--posture').addClass('ctl__mode--active');
                    $('#stat__bigMode').html("Posture Mode");
                    break;
            }
        }

        // Mode switch
        $('#ctl__mode--disable').click(function(event) {
            switchMode('off');
        });
        $('#ctl__mode--pet').click(function(event) {
            switchMode('pet');
        });
        $('#ctl__mode--statue').click(function(event) {
            switchMode('freeze');
        });
        $('#ctl__mode--sleepDep').click(function(event) {
            switchMode('sleepDep');
        });
        $('#ctl__mode--random').click(function(event) {
            switchMode('random');
        });
        $('#ctl__mode--posture').click(function(event) {
            switchMode('posture');
        });

        // Punishment buttons
        $('#ctl__manual--punish').click(function(event) {
            socket.emit('manualControl', {'command': 'punish'});
        })
        $('#ctl__manual--warn').click(function(event) {
            socket.emit('manualControl', {'command': 'warn'});
        })

        $('#stat__battery--container').click(function() {
            if(dockLock == true) {
                    showdockLockModal();    // Construct and show DL modal
            }
        })
    })
</script>
</html>