<!doctype HTML>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <div>
        <canvas id="livePreview" width="240" height="320"><p class="noCanvas">Sorry, your browser doesn't support HTML5 Canvas</p></canvas>
    </div>

    <div>
        <p>
            <!-- <b>TestValue:</b> <span id="testValue">??</span><br /> -->
            <b>Battery:</b> <span id="battLevel">??</span>%<br />
            <b>Charging:</b> <span id="battCharging">??</span><br />
            <b>Mode:</b> <span id="mode">off</span><br />
            <b>Compliance:</b> <span id="compliance">??</span><br />
            <b>punishmentSource:</b> <span id="punishmentSource">??</span><br />
            <b>IP:</b> <span>{{ ipAddr }}</span><br />
        </p>
        <p>
            <b>AccX:</b> <span id="AccX">??</span> <br />
            <b>AccY:</b> <span id="AccY">??</span> <br />
            <b>AccZ:</b> <span id="AccZ">??</span> <br />

            <b>AccXangle:</b> <span id="AccXangle">??</span> <br />
            <b>AccYangle:</b> <span id="AccYangle">??</span> <br />
            <b>AccZangle:</b> <span id="AccZangle">??</span> <br />
        </p>
        <p>
            <b>angleX</b> <span id="angleX">??</span> <br />
            <b>angleY:</b> <span id="angleY">??</span> <br />
            <b>angleZ:</b> <span id="angleZ">??</span> <br />
        </p>
        <p>
            <b>GyroX:</b> <span id="gyroXangle">??</span> <br />
            <b>GyroY:</b> <span id="gyroYangle">??</span> <br />
            <b>GyroZ:</b> <span id="gyroZangle">??</span> <br />
        </p>
        <!-- <p>
            <b>Heading:</b> <span id="heading">??</span> <br />
            <b>Heading (Tilt Compensated):</b> <span id="tiltCompensatedHeading">??</span> <br />
        </p> -->
        <p>
            <b>Motion Delta:</b> <span id="Mdelta">??</span> <br />
            <b>Motion Loop Time:</b> <span id="loopTime">??</span> <br />
        </p>
        <p>
            <b>Punishment Cycles</b> <span id="safety__punishment-cycles">??</span> <br />
        </p>
    </div>
    <div>
        <p>
            <b>Motion Snapshot:</b> <span id="moCap--status">Not Capturing</span>
        </p>
        <ul class="ctl__buttons">
            <li>
                <a id="ctl__moCap--on" class="button">Start Motion Snapshot</a>
            </li>
            <li>
                <a id="ctl__moCap--off" class="button">End Motion Snapshot</a>
            </li>
        </ul>
    </div>

    <div>
        <p>
            <b>Wearer in Rest Position:</b> <span id="fitness__wearer-in-rest-position">??</span> <br />
            <b>Reps:</b> <span id="fitness__reps">??</span> <br />
            <b>Rep Time:</b> <span id="fitness__rep-time">??</span> seconds <br />
        </p>
        <ul class="ctl__buttons">
            <li>
                <a id="ctl__mode--fitness-test" class="button">Fitness Test Mode</a>
            </li>
        </ul>
    </div>
</body>

<!-- Import jQuery, SocketIO -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>

<script type="module">
    // Import three.js
    import * as THREE from 'https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.module.min.js';

    // Create scene and camera
    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );

    // Set up renderer on the page
    const renderer = new THREE.WebGLRenderer({
        canvas: livePreview,    // Bind to #livePreview canvas in DOM
        antialias: true,
    });
    renderer.setSize( 320, 240 );
    // document.body.appendChild( renderer.domElement );

    // https://youtu.be/4aGDCE6Nrz0 CYOOB
    const geometry = new THREE.BoxGeometry();
    const material = new THREE.MeshBasicMaterial( { 
        color: 0x00ff00,
        wireframe: true,
    } );
    const cube = new THREE.Mesh( geometry, material );
    scene.add( cube );
    const light = new THREE.HemisphereLight(0xd90368, 0x64a6bd, 2);
    scene.add(light);
    var frontLight = new THREE.DirectionalLight(0xffffff, 1);
    frontLight.position.set(3000, 300, 3000).normalize();
    scene.add(frontLight);

    // Plonk camera
    camera.position.z = -3;
    camera.rotation.x = -180 * (Math.PI / 180);

    // Test animation
    // const animate = function () {
    //     requestAnimationFrame( animate );

    //     cube.rotation.x += 0.01;
    //     cube.rotation.y += 0.01;

    //     renderer.render( scene, camera );
    // };

    // animate();



    $(document).ready(function() {
        // SOCKETIO
        // Connect to socket server
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/control');
        console.log("Connected to Socket")

        // Recieve information from server
        // Battery level
        socket.on('battery', function(msg) {
            $('#battLevel').html(msg.percent.toString());
            $('#battCharging').html(msg.charging.toString());
        })

        // Motion data
        socket.on('motion', function(msg) {
            // console.log("Recieved motion update")
            $('#AccX').html(msg.AccX.toString())
            $('#AccY').html(msg.AccY.toString())
            $('#AccZ').html(msg.AccZ.toString())

            $('#AccXangle').html(msg.AccXangle.toString())
            $('#AccYangle').html(msg.AccYangle.toString())
            $('#AccZangle').html(msg.AccZangle.toString())

            $('#gyroXangle').html(msg.gyroXangle.toString())
            $('#gyroYangle').html(msg.gyroYangle.toString())
            $('#gyroZangle').html(msg.gyroZangle.toString()) 

            $('#angleX').html(msg.angleX.toString())
            $('#angleY').html(msg.angleY.toString())
            $('#angleZ').html(msg.angleZ.toString())

            // $('#heading').html(msg.heading.toString())
            // $('#tiltCompensatedHeading').html(msg.tiltCompensatedHeading.toString())

            $('#loopTime').html((msg.loopTime).toString())

            // Animate the boi
            const animate = function () {
                // cube.rotation.x = (msg.kalmanX + 180) * (Math.PI / 180);
                cube.rotation.x = -(msg.angleY + 180) * (Math.PI / 180);
                cube.rotation.z = (msg.angleZ + 180) * (Math.PI / 180);

                renderer.render( scene, camera );
            }

            requestAnimationFrame( animate );
        })

        // Compliance
        socket.on('compliance', function(msg) {
            $('#compliance').html(msg.compliance.toString());
            $('#punishmentSource').html(msg.punishmentSource.toString());
        })

        // Safety auto-off debug info
        socket.on('safetyPunishmentCycles', function(msg) {
            $('#safety__punishment-cycles').html(msg.punishmentCycles.toString());
        })

        // Freeze Mode Debug info
        socket.on('Mdelta', function(msg) {
            $('#Mdelta').html(msg.Mdelta.toString());
        })

        // Fitness info
        socket.on('fitness', function(msg) {
            $('#fitness__reps').html(msg.reps.toString());
            $('#fitness__rep-time').html(msg.repTime.toString());
            $('#fitness__wearer-in-rest-position').html(msg.wearerInRestPosition.toString());
        })

        $('#ctl__moCap--on').click(function(event) {
            socket.emit('moCap', {'moCap': true});
            $('#moCap--status').html("Capturing")
        });
        $('#ctl__moCap--off').click(function(event) {
            socket.emit('moCap', {'moCap': false});
            $('#moCap--status').html("Not Capturing")
        });
        $('#ctl__mode--fitness-test').click(function(event) {
            socket.emit('mode', {'mode': 'fitness'});
        });
    })
</script>
</html>