<!doctype HTML>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <div>
        <canvas id="livePreview" width="240" height="320"><p class="noCanvas">Sorry, your browser doesn't support HTML5 Canvas</p></canvas>
    </div>

    <div>
        <p>
            <!-- <b>TestValue:</b> <span id="testValue">??</span><br /> -->
            <b>Battery:</b> <span id="battLevel">??</span>%<br />
            <b>Charging:</b> <span id="battCharging">??</span><br />
            <b>Mode:</b> <span id="mode">off</span><br />
            <b>Compliance:</b> <span id="compliance">??</span>
        </p>
        <p>
            <b>AccX:</b> <span id="AccX">??</span> <br />
            <b>AccY:</b> <span id="AccY">??</span> <br />
            <b>AccZ:</b> <span id="AccZ">??</span> <br />

            <!-- <b>AccXangle:</b> <span id="AccXangle">??</span> <br />
            <b>AccYangle:</b> <span id="AccYangle">??</span> <br /> -->
        </p>
        <p>
            <b>CFangleX</b> <span id="CFangleX">??</span> <br />
            <b>CFangleY:</b> <span id="CFangleY">??</span> <br />
        </p>
        <p>
            <b>GyroX:</b> <span id="gyroXangle">??</span> <br />
            <b>GyroY:</b> <span id="gyroYangle">??</span> <br />
            <b>GyroZ:</b> <span id="gyroZangle">??</span> <br />
        </p>
        <!-- <p>
            <b>Heading:</b> <span id="heading">??</span> <br />
            <b>Heading (Tilt Compensated):</b> <span id="tiltCompensatedHeading">??</span> <br />
        </p> -->
        <p>
            <b>KalmanX:</b> <span id="kalmanX">??</span> <br />
            <b>KalmanY:</b> <span id="kalmanY">??</span> <br />
        </p>
        <p>
            <b>Motion Delta:</b> <span id="Mdelta">??</span> <br />
        </p>
        <p>
            <b>Motion Snapshot:</b> <span id="moCap--status">Not Capturing</span>
        </p>
    </div>

    <div>
        <ul class="ctl__buttons">
            <li>
                <a id="ctl__moCap--on" class="button">Start Motion Snapshot</a>
            </li>
            <li>
                <a id="ctl__moCap--off" class="button">End Motion Snapshot</a>
            </li>
        </ul>
    </div>
</body>

<!-- Import jQuery, SocketIO -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>

<script type="module">
    // Import three.js
    import * as THREE from 'https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.module.min.js';

    // Create scene and camera
    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );

    // Set up renderer on the page
    const renderer = new THREE.WebGLRenderer({
        canvas: livePreview,    // Bind to #livePreview canvas in DOM
        antialias: true,
    });
    renderer.setSize( 320, 240 );
    // document.body.appendChild( renderer.domElement );

    // https://youtu.be/4aGDCE6Nrz0 CYOOB
    const geometry = new THREE.BoxGeometry();
    const material = new THREE.MeshBasicMaterial( { 
        color: 0x00ff00,
        wireframe: true,
    } );
    const cube = new THREE.Mesh( geometry, material );
    scene.add( cube );
    const light = new THREE.HemisphereLight(0xd90368, 0x64a6bd, 2);
    scene.add(light);
    var frontLight = new THREE.DirectionalLight(0xffffff, 1);
    frontLight.position.set(3000, 300, 3000).normalize();
    scene.add(frontLight);

    // Plonk camera
    camera.position.y = 3;
    camera.rotation.x = -90 * (Math.PI / 180);

    // Test animation
    // const animate = function () {
    //     requestAnimationFrame( animate );

    //     cube.rotation.x += 0.01;
    //     cube.rotation.y += 0.01;

    //     renderer.render( scene, camera );
    // };

    // animate();



    $(document).ready(function() {
        // SOCKETIO
        // Connect to socket server
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');
        console.log("Connected to Socket")

        // Recieve information from server

        // Test value (random number generator)
        // socket.on('randNumber', function(msg) {
        //     console.log("Recieved random number " + msg.number.toString());
        //     $('#testValue').html(msg.number.toString());
        // })

        // Battery level
        socket.on('battery', function(msg) {
            console.log("Recieved battery status update");
            $('#battLevel').html(msg.percent.toString());
            $('#battCharging').html(msg.charging.toString());
        })

        // Motion data
        socket.on('motion', function(msg) {
            // console.log("Recieved motion update")
            $('#AccX').html(msg.AccX.toString())
            $('#AccY').html(msg.AccY.toString())
            $('#AccZ').html(msg.AccZ.toString())

            // $('#AccXangle').html(msg.AccXangle.toString())
            // $('#AccYangle').html(msg.AccYangle.toString())

            $('#gyroXangle').html(msg.gyroXangle.toString())
            $('#gyroYangle').html(msg.gyroYangle.toString())
            $('#gyroZangle').html(msg.gyroZangle.toString()) 

            $('#CFangleX').html(msg.CFangleX.toString())
            $('#CFangleY').html(msg.CFangleY.toString())

            // $('#heading').html(msg.heading.toString())
            // $('#tiltCompensatedHeading').html(msg.tiltCompensatedHeading.toString())

            $('#kalmanX').html((msg.kalmanX).toString())
            $('#kalmanY').html((msg.kalmanY).toString())

            // Animate the boi
            const animate = function () {
                cube.rotation.x = (msg.kalmanX + 180) * (Math.PI / 180);
                cube.rotation.y = (msg.kalmanY + 180) * (Math.PI / 180);

                renderer.render( scene, camera );
            }

            requestAnimationFrame( animate );
        })

        // Compliance
        socket.on('compliance', function(msg) {
            // console.log("Recieved compliance update: " + msg.compliance.toString());

            $('#compliance').html(msg.compliance.toString());
        })

        // Freeze Mode Debug info
        socket.on('Mdelta', function(msg) {
            $('#Mdelta').html(msg.Mdelta.toString());
        })

        $('#ctl__moCap--on').click(function(event) {
            socket.emit('moCap', {'moCap': true});
            $('#moCap--status').html("Capturing")
        });
        $('#ctl__moCap--off').click(function(event) {
            socket.emit('moCap', {'moCap': false});
            $('#moCap--status').html("Not Capturing")
        });
    })
</script>
</html>