<!doctype HTML>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>.

<!-- 
    Namespaces
    stat__  Output
    ctl__   Input
    ui__    Clientside
-->

<body>
    <header>
        <!-- Battery widget -->
        {% include '_battery-widget.html' %}
    </header>

    <menu>
        <form>
            <!-- WiFi setup form -->
            <label for="ssid">SSID</label>
            <input id="ctl__wifi-setup--ssid" type="text" name="SSID" placeholder="SSID" />

            <label for="ssid">Passkey</label>
            <input id="ctl__wifi-setup--passkey" type="password" name="PASSKEY" placeholder="Passkey" />
        </form>
        <ul class="ctl__buttons">
            <li>
                <a id="ctl__wifi-setup--submit" class="button">Connect</a>
            </li>
        </ul>
        <div class="stat__version">
            <p>BBSS Version <span>{{ version }}</span></p>
        </div>
    </menu>

    <!-- Modals -->
    {% include '_modals.html' %}
</body>

<!-- Import jQuery, SocketIO -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jqueryui/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

<script type="module">
    $(document).ready(function() {
        // Initialize dialogs
        $('#ui__modal').dialog({    // Initialize modal
            autoOpen: false,
            modal: true,
            resizable: false,
            dialogClass: "no-close",
        });

        $('#ui__spinner').dialog({  // Initialize spinner
            autoOpen: false,
            modal: true,
            resizable: false,
            closeOnEscape: false,
        });

        // SOCKETIO
        // Connect to socket server
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/control');
        console.log("Connected to Socket");

        $('#ctl__wifi-setup--submit').click(function() {
            var ssid = $('#ctl__wifi-setup--ssid').val();
            var passkey = $('#ctl__wifi-setup--passkey').val();

            // Send data to server
            socket.emit('wifi-setup', {
                ssid: ssid,
                passkey: passkey
            });

            // Create and show connecting spinner
            $('#ui__spinner--body').text("Connecting...");
                $('#ui__spinner').dialog( "open" );

            // Wait 60 seconds
            setTimeout(function() {
                location.reload();  // Reload page
            }, 60000);
        });
    });
</script>
</html>